<style>
.spoiler.spoiled {background-color: rgba(0, 0, 0, 0); color: rgba(0, 0, 0, 0); text-shadow: gray 0px 0px 10px; user-select: none; cursor: pointer;}
.spoiled.half-spoiled {text-shadow: gray 0px 0px 5px;}
.spoiler {color: gray; cursor: pointer;}
header .links {float: right;}
header .links ul {list-style-type: none; margin: 0; padding: 0;}
header .links ul li {display: inline; padding: 1em 1em;}
header {width: 95% !important;}
</style>
{{ content }}
<!-- hackish fix for discourse's features missing from escaped fragment -->
<script>
;(function( discoUrsa, undefined ) { // jquery-ish namespace
    //addSpoilerStyle()
    DOMready()
    window.onload = DOMready
    function DOMready () {
        fixHeader()
        fixSpoiler()
        fixOnebox()
    }
    function fixHeader () {
        let header = document.querySelector('body>header>div.links')
        if (!header) header = document.createElement('div')
        header.classList.add('links')
        header.innerHTML = `
        <ul>
            <li><a href="/talk/t/shut-down-announcement/7945.html">this is an archive!</a></li>
            <li><a href="/">home</a></li>
        </ul>
        `
        for (h of document.querySelectorAll('body>header')) {
            h.appendChild(header)
        }
    }
    function addSpoilerStyle () {
        let style = document.createElement('style')
        style.type = 'text/css'
        style.innerHTML = `
            .spoiler.spoiled {background-color: rgba(0, 0, 0, 0); color: rgba(0, 0, 0, 0); text-shadow: gray 0px 0px 10px; user-select: none; cursor: pointer;}
            .spoiled.half-spoiled {text-shadow: gray 0px 0px 5px;}
            .spoiler {color: gray; cursor: pointer;}
        `
        document.getElementsByTagName('head')[0].appendChild(style)
    }
    function fixSpoiler () {
        for (s of document.querySelectorAll('.spoiler')) {
            s.classList.add('spoiled')
            s.onclick = function(){ this.classList.toggle('spoiled') }
            s.onmouseenter = function () { this.classList.add('half-spoiled') }
            s.onmouseleave = function () { this.classList.remove('half-spoiled') }
        }
    }
    function fixOnebox () {
        fixYoutube()
    }
    function fixYoutube () {
        for (o of document.querySelectorAll('.lazyYT')) {
            o.innerHTML = `<iframe width="${ o.getAttribute('data-width') }" height="${ o.getAttribute('data-height') }" src="https://www.youtube.com/embed/${ o.getAttribute('data-youtube-id') }?${ o.getAttribute('data-parameters') }" frameborder="0" allowfullscreen></iframe>`
        }
    }
}( window.discoUrsa = window.discoUrsa || {} ))
</script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-4687862-9', 'auto');
  ga('send', 'pageview');

</script>
